Repository kkrypt0nn/wordlists, pull requests merged in 2023-10, with the labels that each got.

#9 fix: Sort wordlists in README
  tools/make_readme.py
Labels: enhancement

#10 feat: Add automatic TLD updater
  .github/workflows/update-tlds-list.yml
  tools/make_tld_list.py
  tools/requirements.txt
Labels: enhancement

#11 feat: Add common SQL columns & tables
  wordlists/discovery/common_sql_columns.txt
  wordlists/discovery/common_sql_tables.txt
Labels: enhancement

#12 fix: Proper alphabetical order
  tools/make_readme.py
  wordlists/vulnerabilities/directory_traversal.txt
  wordlists/vulnerabilities/directory_traversal_unix.txt
  wordlists/vulnerabilities/directory_traversal_win.txt
Labels: bug

#18 fix: Remove comment in TLD file
  tools/make_tld_list.py
  wordlists/discovery/tlds.txt
Labels: enhancement

#42 adding a new name in top_male_names_india.txt
  wordlists/names/top_male_names_india.txt
Labels: spam

#49 Update names.txt
  wordlists/names/names.txt
Labels: invalid, spam

#50 some new user agent strings for BeOS
  wordlists/user_agents/operating_system_name/beos.txt
Labels: invalid, spam
